# Exercise 1: Create a Jupyter Notebook

### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* Comment on Data Science tools.

### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. Scala
3. R
4. Java
5. Julia
6. C/C++
7. SQL
8. JavaScript

### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-Learn
5. Scapy
6. Beautiful Soup
7. TensorFlow
8. PyTorch
9. Keras
10. PyBrain

### Exercise 6 - Create a markdown cell with a table of Data Science tools

<table>
    <tr>
        <th>
            <Strong> Data Science Tools </Strong>
        </th>
    </tr>
    <tr>
        <td>
            TensorFlow
        </td>
    </tr>
    <tr>
        <td>
            RStudio
        </td>
    </tr>
    <tr>
        <td>
            Apache Spark
        </td>
    </tr>

</table>

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# Arithmetic operations
x = 2 + 3 * 4 - 5 / 2 ** 3
result = x
print(result)
# Output: 13.375

13.375

In [15]:
x = 2
y = 5
z = x ** y
result = z
print(result)
# Output: 32

32

### Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [16]:
(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [28]:
min = 200
h = min // 60
m = min % 60
print("Hours=",h)
print("Minutes=",m)

Hours= 3
Minutes= 20

### Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author:

Abhishek